html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins' !important;
 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.login2 .ant-modal-footer {
  display: none !important;
}

.login2 .ant-modal-body {
  padding: 0px !important;
}



* {
  box-sizing: border-box;
}
.ant-form .ant-form-horizontal form {
  height: 0px;
}

/* xxxxxxxxxxxxxx */

.body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 20px 0 50px;
}

.h1 {
  font-weight: bold;
  margin: 0;
}

.h2 {
  text-align: center;
}

.p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 0px 0 0px;
}

.span {
  font-size: 12px;
}

.a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 0px 0;
}

.button {
  border-radius: 20px;
  border: 1px solid #18608a;
  background-color: #18608a;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}

.button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.form {
  background-color: #fff;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  height: 800px;
  text-align: center;
}

.input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 0px 0;
  width: 100%;
}

.container {
  background-color: #fff;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 702px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.9s ease-in-out;
  z-index: 9;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #fff;
  background: -webkit-linear-gradient(to right, #2e28d4, #ac27fd);
  background: linear-gradient(45deg, #2e28d4, #ac27fd);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.1s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

/* xxxxxxxxxxxxxx */

.ant-checkbox-checked .ant-checkbox-inner {
  background:  linear-gradient(to right, #2e28d4, #ac27fd) !important;
  
  color: #eee !important;
}
.ant-radio-checked .ant-radio-inner{

  border-color:#ac27fd !important;
}

/* sidebar */
.sidebar{
  width: 15.625rem;
  background-image: linear-gradient(45deg, #2E28D4  , #AC27FD );
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 200;
  padding: 32px;
}
.shadowBox{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 200;
  padding: 32px;
}


.styles_react-code-input__CRulA > input {
  border: none !important;
  border-radius: 0px !important;
  
  /* margin: 6px; */
  margin-right: 16px !important;
  border-bottom: 1px solid black !important;
}
.styles_react-code-input__CRulA{
  
  width: 298px !important;
  margin-left: -1.875rem;
}

.profileDropdownPopup{
  border-radius: 2px !important;
}
.order .ant-dropdown-menu-title-content{ 
  color: #AC27FD !important;
  font-weight: 600;
}
.order{
  display: flex;
  align-items: center;
  justify-content: center;
}

.order2 .ant-dropdown-menu-title-content{ 
  color: #2E28D4 !important;
   font-weight: 600;

}
.order3 .ant-dropdown-menu-title-content{ 
  color: #F01A63 !important;
   font-weight: 600;

}
.ant-collapse-item{
  border-color: #2E28D4 !important;
}

.ant-collapse-header{
  color: #2E28D4 !important;
  font-size: 24px;
  font-weight: 600;
}
.module .ant-tabs-tab{
  width: 23.438rem !important;
  height: 81px;
}

.module .ant-tabs-content-holder{
  margin-left: 0px !important;
}

.module .ant-tabs-tab-btn{
  color: #2F3747;
  font-weight: 600;
  font-size: 16px;
  padding-right: 10px !important;
  width: 700px !important;
 
}


 .module  .ant-tabs-tab-active{
  background: linear-gradient(to right, rgba(86, 80, 235,1), rgba(86, 80, 235,0.3));
  color: #fff !important;
  
}



.mainTab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: white !important;

}

.module .ant-tabs-nav-list{
  /* background-color: red !important; */
  box-shadow: 0px 10px 40px rgba(46, 40, 212, 0.1) !important;
  border-radius: 4px !important;
  margin-bottom: 40px !important;
  border-left: 5px solid rgba(46, 40, 212, 0.04);

}
@media only screen and (min-width: 600px) {
  .module .ant-tabs-tab{
    width: 375px !important;
    height: 81px;
  }
  .mainTab{
    margin-left: 100px !important;
  }
 
}

.ant-tabs-content-holder{
  float: left !important;

}


 .bill{
  margin: 12px 0px !important;
}
.payment .ant-tabs-nav-list{
  width: 100% !important;
  
  background-color: rgba(156, 166, 192, 0.2) !important;
 
  border-radius: 8px !important;
  display: flex !important;
  
}
.payment .ant-tabs-tab{
    color: #2E28D4 !important;
    font-size: 16px !important;
   font-weight: 600 !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    border-radius: 8px !important;

}
.payment .ant-tabs-tab-active  {
  color: white !important;
  background-image: linear-gradient(45deg, #2E28D4, #AC27FD);
}


.payment .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: white !important;
}
.itools:hover{
  fill: blue !important;
}
.c:hover{
color: red !important;
}

.tursh{
  line-height: 0 !important;
}
.slick-next:before {
  color: #2E28D4 !important;
  
}
.slick-prev:before{
  /* background-color: red !important; */
  color: #2E28D4 !important;
}
.buy{
  width: 570px !important;
  height: 760px !important;
  border-radius: 30px !important;
}
.buy .ant-modal-footer{
  display: none !important;
}

.buy .ant-modal-title{
  color: #2E28D4 !important  ;
  font-size: 24px !important;
  font-weight: 600 !important;
}
.buyTab .ant-tabs-nav-list{
  /* background-color: gray !important; */
   width:  510px !important;
   display: flex !important;
   font-size: 16px !important;
   font-weight: 600 !important;
   /* justify-content: space-between; */
  margin: 0px !important;
  padding: 0px !important;
}
.buyTab  .ant-tabs-tab{ 
  background-color: rgba(156 , 166, 192, 0.2)  !important;
  color: #2E28D4 !important;
  width: 255px !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
}
.buyTab  .ant-tabs-tab-active{ 
  background: linear-gradient(45deg, #2E28D4  , #AC27FD);
  width: 50% !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  color: white !important;
}
.buyTab .ant-tabs-tab .ant-tabs-tab-active{
  color: white !important;
}
.buyTab .ant-tabs-ink-bar {
  display: none !important;
  
}
.ant-tabs-ink-bar {
  background-image: linear-gradient(45deg, #2E28D4, #AC27FD) !important;
  /* width: 200px !important; */

}
.buyTab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important; 
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .buyTab .ant-tabs-nav-list{
    
     width:  300px !important;
     display: flex !important;
     font-size: 16px !important;
     font-weight: 600 !important;
     
    margin: 0px !important;
    padding: 0px !important;
  }
  .buyTab  .ant-tabs-tab{ 
    background-color: rgba(156 , 166, 192, 0.2)  !important;
    color: #2E28D4 !important;
    width: 150px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
  }
  .myOrder .ant-tabs-nav-wrap {
    margin-left: 0px !important;
  }
  .infoTab .ant-tabs-nav-list{
    /* background-color: gray !important; */
     width:  300px !important;
     display: flex !important;
     font-size: 16px !important;
     font-weight: 600 !important;
     /* justify-content: space-between; */
    margin: 0px !important;
    padding: 0px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .buyTab .ant-tabs-nav-list{
    
     width:  300px !important;
     display: flex !important;
     font-size: 16px !important;
     font-weight: 600 !important;
     
    margin: 0px !important;
    padding: 0px !important;
  }
  .buyTab  .ant-tabs-tab{ 
    background-color: rgba(156 , 166, 192, 0.2)  !important;
    color: #2E28D4 !important;
    width: 150px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
  }
  .myOrder .ant-tabs-nav-wrap {
    margin-left: 375px !important;
  }

}

.mar {
  margin: 12px 0px !important;
}

  /* information tab */
.infoTab .ant-tabs-nav-list{
  /* background-color: gray !important; */
   width:  870px !important;
   display: flex !important;
   font-size: 16px !important;
   font-weight: 600 !important;
   /* justify-content: space-between; */
  margin: 0px !important;
  padding: 0px !important;
}
.infoTab  .ant-tabs-tab{ 
  background-color: rgba(156 , 166, 192, 0.2)  !important;
  color: gray !important;
  width: 255px !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
}
.infoTab  .ant-tabs-tab-active{ 
  background: linear-gradient(45deg, #2E28D4  , #AC27FD);
 
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  color: white !important;
}
.infoTab .ant-tabs-tab .ant-tabs-tab-active{
  color: white !important;
}
.infoTab .ant-tabs-ink-bar {
  display: none !important;
  
}

.infoTab .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important; 
  font-weight: 600;
}
.saas_ifinancesaas_ifinance{
   margin-top: -100px !important;
}
.ant-tabs-tabpane .ant-tabs-tabpane-active .test{
  margin-top: -100px !important;
}
 /* .ant-tabs-tabpane .ant-tabs-tabpane-active{
  box-shadow: 5px 10px !important;
} */

 /* thead[class*="ant-table-thead"] th{
  background-image: linear-gradient(45deg, #2E28D4  , #AC27FD) !important;
  color: white !important;
} */

.price  {
  margin: 15px 9px !important;
}
.spinner{
   align-items: center !important;
   color: purple !important;
   
   margin-top: 20vh !important;
}

.ant-spin-dot-item{
  background-color: purple !important;
}
.ant-collapse-item-active .ant-collapse-header{
  background-image: linear-gradient(45deg, #2E28D4, #AC27FD) !important;
  color: white !important;
}
.mainTab .ant-tabs-tab-btn{
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.module .ant-tabs-tab-btn{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.payment .ant-tabs-ink-bar {
display: none !important;
}
 .ant-modal-close-icon{
  margin-top: -100px !important;
}
 .ant-modal-close{
  margin-top: -50px !important;
  margin-right: -50px !important;
  background-color: white !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 30px !important;
  padding-bottom: 5px !important;
  color: #AC27FD !important;
  border: 1px solid #AC27FD !important;
}
 .ant-modal .ant-modal-body{
  border-radius: 50px !important;
}
/* .ant-modal-content {
  overflow: visible ;
  border-radius: 18px !important;
} */
.ant-modal .ant-modal-content {
  /* overflow: auto !important; */
  border-radius: 16px !important;
}
/* thead > tr > th {
  background-color: #4641ce  !important;
  color: white !important;
} */
.tcell .ant-table-thead > tr >th{
  background-image: linear-gradient(180deg, #AC27FD, #2E28D4 ) !important;
  color: white !important;

}
.components-table-demo-nested .ant-table-thead > tr >th{
  background-color: rgba(156, 166, 192, 0.2)  !important;
  color: rgba(46, 40, 212, 0.5)  !important;
  font-weight: bold !important;
  border-bottom:  1px solid #AC27FD !important;
}

.components-table-demo-nested .ant-table-column-has-sorters{
  background-color: red !important;
}

.components-table-demo-nested .ant-table-thead > tr > th {
  padding:  0 !important;
}

.components-table-demo-nested .ant-table-thead > tr > th::before {
  display: none !important;
}

.ant-table-column-sorter {
  display:  none !important;  
}
.buyTab .ant-tabs-nav-list {

  width: 100% !important;
  
}
.buyTab .ant-tabs-tab {
 margin:  0 !important;
width: 50% !important;
border-radius: 4px !important;
}

.expandTable .ant-table-thead > tr > th {
  padding: 14px !important;
   background-color: rgba(46, 40, 212, 0.5);
   color: #2E28D4 !important;
   border-bottom:  none !important;
}
.demoModal .ant-modal-footer {
  display: none !important;
}
.demoModal .ant-modal-content {
  margin-left: -15vw !important;
  width: 970px !important;
  height: 708px !important;
}
.ant-col-16  {
   max-width: none !important;
}
.demoldoo .ant-select-selector{
  height: 48px !important;
  padding: 8px !important;
  border-radius: 41px !important;
}
.dark .demoModal .ant-modal-content {
  background-color: #08194B !important;
}
.dark .demoModal .ant-input  {
  background-color: transparent !important;
}
.dark .demoModal .ant-select-selector  {
  background-color: transparent !important;
}
.test{
   color: red !important;
}